{% extends 'main/base.html' %}

{% block title %}New Page {% endblock title%}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}
    <h1>New Page</h1>
    <form method="POST" >

        {% csrf_token %}
        
        <div class="form-group">
            {{form.username}}
        </div>

        <div class="form-group">
            {{form.email}}
        </div>

        <div class="form-group">
            {{form.siteurl}}
        </div>

        <div class="form-group">
            {{form.password}}
        </div>
        
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
    
    </form>
{% endblock content %}